<div class="form-group row">
  <label for="bowl1" class="col-sm-2 control-label">Bowl 1</label>
  <div class="col-sm-10">
    <select name="bowl1" class="form-control" ng-options="score as score.title for score in availableScores().values" ng-model="entryPoint.frame.bowl1" ng-change="updateBowl2()"></select>
  </div>
</div>

<div ng-hide="entryPoint.frame.bowl1.value === 10" class="form-group row"> 
  <label for="bowl2" class="col-sm-2 control-label">Bowl 2</label>
  <div class="col-sm-10">
    <select name="bowl2" class="form-control" ng-options="score as score.title for score in scoresSecondBowl" ng-model="entryPoint.frame.bowl2" ></select>
  </div>
</div>